.event-card {
    padding: 0;
    margin: 1rem;
}

.mat-card-header {
    display: flex;
    background-color: #cfd8dc;
    padding: 1rem;
}

.spacer {
    flex: 1 1 auto;
}

.title {
    align-self: center;
    margin-bottom: 1rem;
}

.mat-card-content {
    padding: 2rem;
    overflow: hidden;
}

[mat-icon-button] {
    float: right;
}

@media (max-width: 700px) {
    .mat-card-header {
        flex-direction: column-reverse;
    }
}