.header {
    position: fixed;
    z-index: 99999;
    height: 7vh;
    min-height: 0;
    
}

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

.brand {
    margin: 0 10px;
    font-size: 24px;
}

[mat-stroked-button] {
    border: none;
    height: 100%;
}

button:hover, .mat-icon:hover {
    cursor: pointer;
}   
    
.mat-toolbar-row {
    height: 7vh;
    & button {
        font-size: 1.2rem;
    }
}
