
  


<mat-card [ngClass]="size">
  <div class="card-image">
      <img [src]="blog.imgUrl" alt="Photo of a Shiba Inu">
  </div>
  
  <div class="card-content">
      <mat-card-title>{{ blog.title }}</mat-card-title>
      <mat-card-subtitle>{{ blog.date }}</mat-card-subtitle>
      
      <p>{{ blog.description }}</p>
      <span class="spacer"></span>

      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
  </div>
</mat-card>
