.wrapper {
    max-width: 960px; 
    margin: auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title {
    margin: 0;
}

.search-container {
    flex: 1;
    display: flex;
    height: 7rem;
    margin-bottom: 2rem;
    & .mat-form-field {
        flex: auto;
        margin: 0 1rem;
        align-self: flex-end;
        
    }
    & button {
        height: 2.5rem;
        align-self: flex-end;
        margin: 1.2rem;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 6rem;
    }

    .search-container {

        & button {

            margin: 1rem 0;
        }
    }
}

