<div class="wrapper">

    <div class="search-container">
        <span class="title mat-display-4">News.</span>
            <mat-form-field color="primary">
                <input matInput  placeholder="Search">
            </mat-form-field>
            <button mat-raised-button color="primary">Search</button>
    </div>
    <app-blog-card [size] = "'big-card'" ></app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>
    <app-blog-card [size] = "'big-card'"> </app-blog-card>
    <app-blog-card [size] = "'big-card'"> </app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>
    <app-blog-card [size] = "'medium-card'"> </app-blog-card>



</div>